@model BookYourTable.BLL.Models.RestaurantBLL
@using BookYourTable.BLL.Models;

@{
    ViewBag.Title = Model.Name;
    UserBLL user = (UserBLL)Session["user"];
}
<head>
    <script src="~/Scripts/TablesGrid.js"></script>
</head>
<h2 style="text-transform: uppercase;" >@Model.Name</h2>

<input type="hidden" value="@Model.RestaurantID" id="restaurantID" />

<img src="~/Content/Images/restaurant_default.jpg" alt="Poster" style="margin-left:20px ; margin-top:10px ; float:left ; width:450px ; border : 2px solid gray ;" />
<div style="float : left;  margin-top:10px ; margin-left:40px">
    <p id="address" style="font-size:24px; position:relative; top:10px">Address: @Model.Address</p>
    <p id="description" style="font-size:24px; position:relative; top:10px;">Description: @Model.Description </p>

    <p style="position:relative; top: 168px; left:3px">
        <a class="btn btn-primary" href="@Url.Action("../MenuItem/Index", new { restaurantID = Model.RestaurantID })">Menu Items</a>
        @if (user.Discriminator.Equals("SystemManager"))
        {
            <a class="btn btn-primary" href="@Url.Action("../Register/RegisterRestaurantManager", new { restaurantID = Model.RestaurantID })">Add Manager</a>
            @Html.ActionLink("Remove Restaurant", "RemoveRestaurant", "Restaurant", new { restaurantID = Model.RestaurantID }, new { @class = "btn btn-primary", onclick = "return confirm('Are you sure you want to remove this restaurant?');", style = "position:relative; left:1px" } )
        }

        @if (user.Discriminator.Equals("RestaurantManager"))
        {
            <a class="btn btn-primary" href="@Url.Action("../Restaurant/EditRestaurant", new { restaurantID = Model.RestaurantID })">Edit Restaurant</a>

            if (Model.Configured)
            {
                <a class="btn btn-primary" onclick="openModal();">Configure Seats</a>
            }
        }
        
    </p>
</div>
<div class="clearDiv" style="clear:both"></div>

<div class="modal" id="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" aria-hidden="true" type="button" onclick="closeModal()" data-dismiss="modal">X</button>
                <h4 class="modal-title">Matrix Data:</h4>
            </div>
            <div class="modal-body">
                <label class="control-label" for="matrixWidth">Width:</label>
                <input class="form-control" id="matrixWidth" type="text" placeholder="Width">
                <label class="control-label" for="matrixHeight">Height:</label>
                <input class="form-control" id="matrixHeight" type="text" placeholder="Height">
    
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" type="button" data-dismiss="modal" onclick="closeModal()">Close</button>
                <button class="btn btn-primary" type="button" onclick="applyModal()">Apply</button>
            </div>
        </div>
    </div>
</div>

