@model IEnumerable<BookYourTable.BLL.Models.MenuItemBLL>
@using BookYourTable.BLL.Models;

@{
    ViewBag.Title = "Registered Guests";
}

@{UserBLL user = (UserBLL)Session["user"];}

<h2>Registered Guests</h2>

<div style="clear:both"></div>

<form class="form-inline" style="position :relative; top: -47px; float:right;" action="#" method="post">
    <fieldset>
        <div class="form-group">
            <input type="search" name="inputSearch" class="form-control" id="inputSearch" placeholder="Search..." style="margin-bottom:20px; width:200px" />
            <input type="image" id="search-button" src="~/Content/Images/search_button.png" alt="Submit" width="30" height="30" style="position: relative; top: 0px">
        </div>
    </fieldset>
</form>

<div style="clear:both"></div>

<div class="guests" style="position:relative; top: -40px">
    <div></div>
    @foreach (var item in Model)
    {
        <div class="guest" id="@item.MenuItemID">
            <div class="guest-left">
                @if (user.Discriminator.Equals("RestaurantManager"))
                {
                    <a href="@Url.Action("../MenuItem/Single", new { menuItemID = item.MenuItemID })">
                        <img class="image" src="~/Content/Images/menuItem_default.jpg" />
                    </a>
                }
                else
                {
                    <img class="image" src="~/Content/Images/menuItem_default.jpg" />
                }

            </div>
            <div class="guest-right">
                @if (user.Discriminator.Equals("RestaurantManager"))
                {
                    <h3 style="text-transform: uppercase;">@Html.ActionLink(item.Name, "../MenuItem/Single", new { menuItemID = item.MenuItemID })</h3>
                }
                else
                {
                    <h3 style="text-transform: uppercase;">@item.Name</h3>
                }

                <p style="position:relative; top:5px">Description: @item.Description</p>
                <p style="position:relative; top:11px; left:240px; text-transform: uppercase; font-weight:bolder">Price: @item.Price&ensp;din</p>
            </div>  
        </div>
    }
</div>

<div style="clear: both"></div>